<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./header') %>
        <title>Add</title>
</head>

<body>
    <%- include('./navbar.ejs') %>

    <div class="mb-3">
        
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom">
      </div>
    <div class="mb-3">
        
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="prenom">
      </div>
    <div class="mb-3">
        
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="date de naissance">
      </div>
    <div class="mb-3">
        
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="detail">
      </div>
      

       

        <div>
            <button type="button" class="btn btn-warning"> <a> Ajouter </a></button>
        </div>
</body>

</html>