<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./header') %>
    <title>Add</title>
</head>

<body>
  <%- include('./navbar.ejs') %>

    <div class="mb-3">
      <form action="/add2" method="POST">
<div class="mb-3" >

  <input name="nom" type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom">
</div>
        <div class="mb-3">

          <input name="prenom" type="text" class="form-control" id="exampleFormControlInput1" placeholder="prenom">
        </div>
        <div class="mb-3">

          <input name="metier" type="text" class="form-control" id="exampleFormControlInput1" placeholder="metier">
        </div>
        <div class="mb-3">

          <input name="dateN" type="date" class="form-control" id="exampleFormControlInput1" placeholder="date de naissance">
        </div>
        <div class="mb-3">

          <input name="detail" type="text" class="form-control" id="exampleFormControlInput1" placeholder="detail">
        </div>
        <div>
          <button type="submit" class="btn btn-warning"> <a> Ajouter </a></button>
        </div>
      </form>
    </div>
</body>

</html>